body {
    background-color: bisque;
    color: #333;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 1rem;
}

.image {
    padding: 0rem;
    margin: 0;
}

.ingredients .ingr {
    font-style: italic;
    font-weight: 500;
}
